#banner-container {
    position: relative;
    width: 100%;
    height: 111px;
    border-radius: 10px;

    @include for-tablette {
        height: 180px;
    }
    @include for-desktop {
        height: 223px;
    }
}

.banner-cover {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.banner-text {
    position: absolute;
    
}