#banner-container {
    position: relative;
    width: 100%;
    height: 111px;
    border-radius: 10px;

    @include for-tablette {
        height: 180px;
    }
    @include for-desktop {
        height: 223px;
    }
}

.banner-cover {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.banner-text {
    position: absolute;
    @include for-desktop {
        display: flex;
        width: 90%;
    padding: 78px 262px 77px;
        font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 68.45px;
    }    
}