.dropdown {
    border-radius: 5px;
}

.dropdown-header {
    display: flex;
    background-color: $color-orange;
    border-radius: 5px;
    justify-content: space-between;
}

.dropdown-title {
    display: flex;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18.54px;
align-items: center;
color: $color-white;
margin-left: 11.51px;
@include for-desktop {
    font-weight: 500;
font-size: 18px;
line-height: 25.67px
}
}

.dropdown button  {
    background :none;
    border: none;
    cursor: pointer;
    display: flex;

}

.dropdown-content {
    background-color: $color-grey;
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 17.11px;
color: $color-orange;
padding: 23.02px 6.91px 23.02px 11.51px;
@include for-desktop {
    padding: 40px 12px 53px 20px;
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25.67px;
}
}