footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 209px;
    margin-top: 8px;
}

#logo-footer {
    width: 122px;

}



   
.legal {
 color: white ;
 font-size: 12px;
 padding-top: 28px;
 @include for-desktop {
    font-size: 24px;
 }
}