#card-container {
    display: flex;
    max-width: 340px;
    max-height: 340px;
    border-radius: 10px;
    background-color: #ff6060;
 

}

.card-cover {
    display: flex;
    max-width: 340px;
    max-height: 340px;
}