.droplist {
    padding-top: 20px;
    @include for-desktop {
    padding-top: 31px;
    }
}

.dropdowns-about {
    padding-bottom: 100px;
    @include for-desktop {
        padding-bottom: 201px;
    }
}