.about-main {
    padding-top: 17px ;
    @include for-desktop {
        padding-top: 44px;
    }
}

.droplist {
    padding-top: 20px;
    @include for-desktop {
    padding-top: 31px;
    }
}

.dropdowns-about {
    
    padding-bottom: 100px;
    @include for-desktop {
        padding-bottom: 121px;
        padding-left: 208px;
        padding-right: 208px;
    }
}