.offers-main {
    position: relative;
    width: 100%;
}


.offers-titles {
    display: flex;
flex-direction: column;
max-width: 335px;
max-height: 73px;
margin-top: 9px ;
@include for-desktop {
    margin-bottom: 20px;
    min-width: 635px;
 }
}

.offers-title {
    display: flex;
align-items: flex-end;
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25.67px;
color: $color-orange;
@include for-desktop {
    font-size: 36px;
    line-height: 51.34px;
}
 
}

.offers-location {
    display: flex;
align-items: flex-end;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.96px;
    color: $color-orange;
    @include for-desktop {
        font-size: 18px;
        line-height: 25.67px;
        padding-bottom: 20px;
    }
}

.offers-header {
    @include for-desktop {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 12px;
    }


}
.offers-header-right {
    @include for-desktop {
        display: flex;
    }
}

.offers-tags {
    display: flex;
    width: 100%;
    padding-top: 10px;
    @include for-desktop {
        padding-top: 40px;
    }
}

.offers-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include for-desktop {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}

.offers-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include for-desktop {
        align-items: flex-end;
        min-width: 196px;
        margin-bottom: 20px;
    }
}

.offers-owner {
    display: flex;
    width: 135.5px;
    height: 33px;
    justify-content: flex-end;
    @include for-desktop {
        max-width: 270px;
        height: 64px;
    }



}

.owner-name {
    display: flex;
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17.11px;
align-items: center;
padding-right: 10.5px;
max-width: 93px;
width: auto;
text-align: right;
color: $color-orange;
@include for-desktop {
    font-size: 18px;
    line-height: 25.67px;
    align-items: center;
}
}
.owner-img {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    @include for-desktop {
        width: 64px;
    height: 64px;
    
    }
}

.offers-dropdowns {
    display: flex;
    width: auto;
    flex-direction: column;
    padding-top: 16px;
    @include for-desktop {
        flex-direction: row  ;
        justify-content: space-between;
        padding-bottom: 16px;
    }
}

.offers-description {
    @include for-desktop {
        width: 47%;
    }
}


.offers-equipements {
    padding-top: 20px ;
    padding-bottom: 64.5px;
    @include for-desktop {
        padding-top: unset;
        padding-bottom: unset;
        width: 47%;

        
    }
}